
*{
margin:0px;
padding:0px;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}


body{
	background-color: #f2f2f2;
}

.page-title {
    text-align: center;
    margin: 20px auto;
    background-color: #f9f9f9; /* Add your desired background color here */
    padding: 20px; /* Add padding for spacing */
    height: 120px;
    justify-content:center;
	font-size: 30px;
}

.heading{

	width:98%;
	color: #ff6347;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 20px auto;

}
a{
	color:rgb(215, 194, 154);

}
a:hover{
	color:blue;
}
.heading h1{
	font-size: 60px;
	margin-bottom: 30px;
	position: relative;
	text-align: center;
}


.heading h2{
	font-size: 25px;
	color:#000;
	position: relative;
	text-align: left;
}

.heading p{
	font-size: 24px;
	color: green;
	margin-bottom: 35px;
}
	
.heading h1{	
	font-size: 40px;
}
	
.heading p{
	font-size: 24px;
	margin-bottom: 0px;	
}

	
.team member{
	justify-content: center;
	display: flex;
	align-items: center;
}
.team-member {
    flex: 1;
    max-width: 45%;
    margin: 0 10px;
    background-color: #ded6b8; /* Add your desired background color here */
    padding: 20px; /* Add padding for spacing */
}

.centered-content{
  
	margin-left: 80px;
	font-size: 16px;
	color: #007BFF; 
	font-family: Arial, sans-serif; 
	text-transform: uppercase;
	text-shadow: 2px 2px 4px #333;
}

.team-member img {
    width: 220px; /* Adjust the width as needed */
    height: 220px; /* Set the height to match the width */
    border-radius:0; /* Set border-radius to 0 for square edges */
    border: 3px solid #000;
    padding: 2px;
    margin-left: 100px;
}
.bio{
	margin-left: 100px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.bio h3{
	color: #333;
	font-size: 20px;
	margin-bottom: 5px;
}

.bio p{
	color: #666;
	font-size: 16px;
}

.container{
	width: 80%;
	margin: 0 auto;
	padding: 10px 20px;
}

.about{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}


.about-image{ 
	flex: 1;
	width: 80px;
	margin: auto;
}


.about-image img{
	max-width: 100%;
	height: auto;
	border-radius: 15px;
	display: block;
	transition: 0.5s ease;
	margin:0 auto;
	width: 980px;
}

.about-image:hover img{
	transform: scale(1.2);
}

.about-content{
	flex:1;
}


.about-content h2{
	font-size: 30px;
	margin-bottom: 20px;	
	color:#333;
}


.about-content p{
	font-size: 20px;
	Line-height: 1.5;	
	color:#666;
	margin-bottom: 40px;
}


@media screen and (max-width: 768px){

.heading{
	padding:0px 20px;
}

.container{
	padding:0px;
}

.about{
	padding:20px;
	flex-direction: column;
}


.about-image{
	margin-right: 0px;
	margin-bottom: 20px;
}

.about-content p{
	padding:0px;
	font-size: 16px;
}

.about-content.read-more{
	font-size: 16px;
	padding: 8px 16px;
}


}

/* Your existing CSS code */

.team-members-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
}

.team-member {
    flex: 1;
    max-width: 45%;
    margin: 0 10px;
}

.team-member img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    transition: 0.5s ease;
    margin: 0 auto;
    width: 220px; /* Adjust the width as needed */
}

.bio {
    margin-left: 0; /* Remove margin from bio */
}

/* Add additional styles as needed */




.cc2{
  
	margin-left: 80px;
	font-size: 22px;
	font-family: Arial, sans-serif; 
}




































































































































